*{
    margin: 0px;
    color: white;
}
body{
    background-color: rgb(36, 36, 46);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 20px;
}
.navitems a{
    text-decoration: none;
    padding: 10px;
    font-weight: 550;
    font-size: 10px;
    color: white;
}
.navitems a:hover{
    color: rgb(226, 50, 50);
}
.navbar h2{
    color: white;
}
.navbar h2:hover{
    color: blue;
}

.intro{
    margin: 80px 60px;
    width: 400px;
}

.introcontent{
    margin-bottom: 20px;
}
.myh2{
    color: blue;
}